<launch>
    <node pkg="gui" type="map_to_gui.py" name="yolo" output="screen"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(find launch)/maps/haakon_map.yaml"/>
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster"
          args="-40 2 0 0 0 0 map base_link 100"/>
</launch>